@use "../abstract" as *;

* {
    &,
    &::after,
    &::before {
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

html {
    // Global convertion
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;

    font-weight: 800;
    line-height: 1.7;

    background-color: darken($palleteGrey, 12.6);
    color: $palleteWhite;

    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
