.loader {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    #d1d5db
  );
  animation: animate 2s linear infinite;
}

.loader::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  border-radius: 50%;
  z-index: 1000;
}

.loader::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    #d1d5db
  );
  border-radius: 50%;
  filter: blur(60px);
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
