@use "../abstract" as *;

.slick-prev {
    &::before {
        display: none;
    }
}
.slick-next {
    &::before {
        display: none;
    }
}

.carousel {
    box-shadow: 0 0 6px 4px rgba($color: $palleteBlack, $alpha: 0.45);
    &__item {
        margin: 2.5px 15px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        &__img {
            position: relative;
            &--after {
                content: "";
                display: block;
                position: absolute;
                height: 100%;
                width: 75%;
                right: 0;
                top: 0;

                // background: #000;
                background-image: linear-gradient(
                    to right bottom,
                    rgba($palleteBlack, 0.9),
                    rgba($palleteGrey, 1)
                );
                clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);

                display: grid;
                place-items: center;
            }

            filter: grayscale(75%);
        }
        // &__text {
        //     & > div {
        //     }
        //     // & h1 {
        //     //     font-weight: 600;
        //     //     font-size: 2.3rem;
        //     // }
        //     // & p,
        //     // & span {
        //     //     font-weight: 300;
        //     //     font-size: 1.6rem;
        //     // }
        // }
    }
}
