@use "../abstract" as *;

.nav-container {
    background-color: $palleteBlack;
    position: relative;

    width: 100%;
}

.navbar {
    margin: 0 auto;
    padding: 0 2.5rem;
    height: 6rem;

    line-height: 1;
    font-size: 1.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand {
        color: $palleteRed;
    }
    &__menu {
        z-index: 100;

        &:hover {
            color: $palleteRed;
        }
        &--container {
            z-index: 100;

            display: inline-block;
            padding: 50px 35px;
            height: 100vh;
            width: 35rem;

            position: absolute;
            top: 0;
            left: 0;

            background: rgba($palleteBlack, 0.45);

            text-align: center;
            & :visited,
            & :link {
                display: inline-block;
                width: 5rem;
                font-size: 1.6rem;
                color: $palleteWhite;
                text-decoration: none;

                border-bottom: 1px solid rgba($palleteWhite, 0.45);
            }
            & ul > li {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            animation: menu 0.65s ease-out both;
        }
    }
    &__search-bar {
        display: flex;
        &__input {
            border-radius: 6px;
            height: 3rem;

            border: 1px solid rgba($palleteWhite, 0.25);
            background: transparent;
            color: $palleteWhite;

            transform-origin: left;
            animation: inputScale 0.35s ease-in both;

            padding: 1rem;

            &:focus {
                outline: none;
            }
        }

        &__label {
            padding: 5px;

            &:hover {
                color: $palleteRed;
            }
        }
    }
}
