.slick-prev::before {
  display: none;
}

.slick-next::before {
  display: none;
}

.carousel {
  box-shadow: 0 0 6px 4px rgba(23, 23, 23, 0.45);
}

.custom-block {
  background: rgba(23, 23, 23, 0.3);
}
