@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1.7;
  background-color: #242424;
  color: #ededed;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateX(-500%);
  }
  50% {
    opacity: 0.35;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes inputScale {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
.block {
  background: rgba(23, 23, 23, 0.3);
  height: 35rem;
}

.pagePadding--upright {
  padding: 2.5rem 0;
}
.pagePadding--sideways {
  padding: 0 2.5rem;
}
.pagePadding--both--big {
  padding: 3rem;
}
.pagePadding--both--normal {
  padding: 2.5rem;
}

.overflow-off {
  overflow: hidden;
}

.mw--165 {
  max-width: 165rem;
}

.nav-container {
  background-color: #171717;
  position: relative;
  width: 100%;
}

.navbar {
  margin: 0 auto;
  padding: 0 2.5rem;
  height: 6rem;
  line-height: 1;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  color: #da0037;
}
.navbar__menu {
  z-index: 100;
}
.navbar__menu:hover {
  color: #da0037;
}
.navbar__menu--container {
  z-index: 100;
  display: inline-block;
  padding: 50px 35px;
  height: 100vh;
  width: 35rem;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(23, 23, 23, 0.45);
  text-align: center;
  animation: menu 0.65s ease-out both;
}
.navbar__menu--container :visited, .navbar__menu--container :link {
  display: inline-block;
  width: 5rem;
  font-size: 1.6rem;
  color: #ededed;
  text-decoration: none;
  border-bottom: 1px solid rgba(237, 237, 237, 0.45);
}
.navbar__menu--container ul > li:not(:last-child) {
  margin-bottom: 2rem;
}
.navbar__search-bar {
  display: flex;
}
.navbar__search-bar__input {
  border-radius: 6px;
  height: 3rem;
  border: 1px solid rgba(237, 237, 237, 0.25);
  background: transparent;
  color: #ededed;
  transform-origin: left;
  animation: inputScale 0.35s ease-in both;
  padding: 1rem;
}
.navbar__search-bar__input:focus {
  outline: none;
}
.navbar__search-bar__label {
  padding: 5px;
}
.navbar__search-bar__label:hover {
  color: #da0037;
}

.slick-prev::before {
  display: none;
}

.slick-next::before {
  display: none;
}

.carousel {
  box-shadow: 0 0 6px 4px rgba(23, 23, 23, 0.45);
}
.carousel__item {
  margin: 2.5px 15px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.carousel__item::after {
  content: "";
  display: block;
  position: absolute;
  height: 300%;
  width: 750px;
  left: -50px;
  background-image: linear-gradient(to right bottom, #000, rgba(23, 23, 23, 0.75));
  filter: blur(75px);
}
.carousel__item__img {
  filter: grayscale(100%);
}
.carousel__item__text {
  z-index: 100;
}
.carousel__item__text > div {
  position: absolute;
  width: 45rem;
}
.carousel__item__text h1 {
  font-weight: 600;
  font-size: 2.6rem;
}
.carousel__item__text p, .carousel__item__text span {
  font-weight: 300;
  font-size: 1.6rem;
}

.btn {
  text-decoration: none;
}
.btn:link, .btn:visited {
  color: #ededed;
}

.manga-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.manga-list__item {
  text-transform: uppercase;
  position: relative;
  height: 32.5rem;
  width: 20.5rem;
  border-radius: 8px;
  background: rgba(23, 23, 23, 0.3);
  margin-bottom: 1.5rem;
}
.manga-list__item:not(:last-child) {
  margin-right: 1.5rem;
}
.manga-list__item__image {
  width: 19rem;
  position: relative;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  filter: grayscale(100%) opacity(0.7);
}
.manga-list__item__btn {
  font-weight: 200;
  font-size: 1.6rem;
  position: absolute;
  left: 2rem;
  bottom: 5rem;
  background-color: #444444;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
}
.manga-list__item__date {
  font-weight: 400;
  float: right;
  margin-top: -2.7rem;
  margin-right: 1.5rem;
}
.manga-list__item__title {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

/*# sourceMappingURL=App.css.map */
